/* started at 2 pm 2/10/24, ended at 2:45 added the navbar!!! and refreshed my abilities */
/* Started once more at 3:50 2/13/24 ended at 4:00 Made NavBar Bigger :) Started Once again at 4:15. Ended at 4:50*/  
/* 2/15/24 Started at 3:50 ended at 4:40 */ 
/* 2/20/24 Started at 12:50, ended at 1:00 Added a div for the text...... Started once more at 3:50 stopped at 5:00 Tried to make navbar sticky IT FAILED STUPID JAVASCRIPT */ 
/* 2/22/24 Started at 4:00 Tried to make a sticky NavBar Again. Sticky Navbars are gonna be my 13th reason Ended at 4:50*/ 
/* 3/6/24 Started at 10:30pm sad Made a sticky navbar!!! Also restyled a lot of things... Sticky Navbars are no longer my 13th reason... Had to make a new document cuz the old one was WAYYYY too chaotic. Progress!!! Late night motivation goes SOOOO hard. Ended at 12:05 */
/* Began again at 10:15 3/10/24, ended at 10:45 fixed the caret dropdown icon!!! (Added the link to epic fonts or whatever it was :) ALSO FIXED MARGIN ON NAVBAR */ 
/* Started at 3/20/24 @ 10:15 Stopped @ 11:05 */ 
/* started at 3/28/24 @9:00PM  STOPPED AT 10pm */ 
/* STArted at 3/29/24 @ 6:15pm STOPPED AT 7:40pm */
/* Started at 3/30/24 @ 12:10 Stopped @ 1:00pm */
/* 3/31/24 Started @ 2:45 S@ 3:10*/
/* 4/1/24 Started @ 12:35  S@1:15*/
/* 4/2/24 Started @ 12:30 in the AM S@ 2:50 */
/* 4/2/24 Started at 1:11 PM S@ */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  align-items: center;
}

nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #1A4F4C;
}

nav.sticky{
  background: black;
}

nav .nav_content{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav_content .logo a{
  font-size: 35px;
  font-weight: 500;
  color: #fff;
  float: left;
  padding: 20px 15px;
}

nav .nav_content .nav_links{
  display: flex;
  align-items: center;
  margin-right: 100px;
}

nav .nav_links li{
  list-style: none;
}

nav .nav_links a{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 29px 20px;
  transition: all 0.3s ease;
}

nav .nav_links a:hover{
  color: white;
  background-color: gray;
}

#homeh{
  height: 65vh;
  width: 100%;
  background: url(Images/horizon3.jpg);
  background-position: center;
}

#homec{
  height: 65vh;
  width: 100%;
  background: url(Images/CostBackGroundPT2.jpg);
  background-position: center;
}

#homece{
  height: 65vh;
  width: 100%;
  background: url(Images/CEbackground.jpg);
  background-position: center;
}

#homes{
  height: 65vh;
  width: 100%;
  background: url(Images/SourcesBackground.jpg);
  background-position: center;
}

.content{
  max-width: 1440px;
  margin: auto;
  text-align: justify;
  padding: 3rem 0;
  line-height: 1.8rem;
  height: 100%;
}

.content h2{
  font-size: 3rem;
  color: #1A4F4C;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  text-align: justify;
  /* position: absolute; */
  line-height: 1.0;
}

.navimg{
  width: 81px;
  height: 81px;
  overflow: hidden;
  margin-bottom: -9px;
  margin-right: 10px;
  align-items: center;
  float: left;
  margin-left: 50px;
  padding: 0;
}

.backgroundimgc{
  background: url(Images/backgroundweb5-01.png);
  background-repeat: repeat;
  /* height: 35vh; */
}

.backgroundimgh{
  background: url(Images/backgroundweb5-01.png);
  background-repeat: repeat;
  height: 35vh;
}

.backgroundimgce{
  background: url(Images/backgroundweb5-01.png);
  background-repeat: repeat;
  /* height: 35vh; */
}

.backgroundimgs{
  background: url(Images/backgroundweb5-01.png);
  background-repeat: repeat;
  /* height: 35vh; */
}

p{
  font-size: 18pt;
}

.navbarimage{
  font-size: 35px;
  font-weight: 500;
  color: #fff;
  float: left;
  overflow: hidden;
}

.breadcrumbs p{
  font-size: 18px;
  padding-bottom: 15px;
}

.breadcrumbs a{
  color: #000080;
}

body .content li{
  font-size: 18pt;
  padding: 20px;
}